.payment .logo svg {
    width: 170px;
}

.payment .logo {
    fill:#e50914;
}

/* for mobile $ tablets */
@media (max-width: 767px) {
    .payment footer {
        margin-top: 65px;
    }
}

/* for small screen */
@media (min-width: 768px) and (max-width: 991px) {
    .payment footer {
        margin-top: 352px;
    }
}

/* for medium screen */
@media (min-width: 992px) and (max-width: 1199px) {
    .payment footer {
        margin-top: 718px;
    }
}